@page
@model Bookstore.Pages.BuyModel
@{
}


<h1>Your basket</h1>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>

        </tr>
    </thead>

    <tbody>
        @*subtotals per line*@
        @foreach (var i in Model.basket.Items)       // this will go and grab from the Donate model
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>25</td>
                <td>@(i.Quantity * 25)</td>

            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>


<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>